@charset "utf-8";
@import url('nexon/nexon.css');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: 'nexon', 'Pacifico', 'cursive', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: -0.0425rem;
    color: #333;
}

/* 공통 클래스 */
.container {
    position: relative;
    display: block;
    width: 130rem;
    margin: 0 auto;

}

.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*전체 레이아웃*/
.wrap {
    position: relative;
    display: block;
}

/* 상단 */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.7rem;
    display: block;
    margin: 0 auto;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.2s;
}

.header-active {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 20%)
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    display: block;
    background: url('../images/logo_1.png') no-repeat;
    width: 7rem;
    height: 5rem;
    background-size: cover;
}

.gnb {
    width: 66.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb>li {
    float: left;
    overflow: hidden;
}

.gnb>li>a {
    position: relative;
    font-size: 1.8rem;
    color: #000;
}

.gnb>li>a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #ff6780;
    z-index: 99;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.gnb>li>a:hover::before {
    left: 100%;
}

.gnb>li>a::after {
    content: '';
    position: absolute;
    bottom: -0.3rem;
    margin-top: -0.2rem;
    left: 100%;
    width: 100%;
    height: 0.2rem;
    background: #ff6780;
    transition: all 0.3s;
    transition-delay: 0.4s;
}

.gnb>li>a:hover::after {
    left: 0%;
}

/* 비주얼 */

.visual {
    position: relative;
    display: block;
    width: 160rem;
    height: 97rem;
    padding-left: 15rem;
    background: url('../images/visual.png') no-repeat;
    margin: 0 auto;
    overflow: hidden;
}

.visual img {
    position: absolute;
    top: 10rem;
    right: -10rem;
    display: block;
    animation: up 1s infinite ease-in-out alternate;
}

@keyframes up {
    from {
        transform: translate(0rem, 0rem);
    }

    to {
        transform: translate(0rem, 2rem);
    }
}

.visual-txt {
    position: absolute;
    left: 15rem;
    top: 40rem;
    display: block;
    font-size: 15rem;
    font-family: 'Pacifico', 'cursive', sans-serif;
}

/* about me */

.whoami {
    position: relative;
    display: block;
    width: 160rem;
    height: 97rem;
    background-color: #f9f9f9;
    margin: 0 auto;
}

.whoami-tit {
    display: block;
    padding-top: 35rem;
    padding-bottom: 6rem;
    font-size: 3rem;
}

.whoami-txt {
    font-size: 5rem;
}

.whoami-txt em {
    font-weight: 600;
    font-style: normal;
}

.whoami p {
    font-size: 2rem;
    padding-top: 3rem;
}

.whoami-photo-1 {
    position: absolute;
    display: block;
    width: 60rem;
    height: 60rem;
    right: 0;
    top: 20rem;
    background: url('../images/porfile_2.png') no-repeat;
    overflow: hidden;
    background-size: cover;
}

.maple-logo {}

.maple-logo img {
    position: absolute;
    left: 50%;
    bottom: -48%;
    display: block;
    width: 3rem;
    height: 3rem;
    animation: up-down 1s infinite ease-in-out alternate;
}

@keyframes up-down {
    from {
        transform: translate(0rem, 0rem);
    }

    to {
        transform: translate(0rem, 1rem);
    }
}

/* 개인정보 */
.whoami2 {
    position: relative;
    display: block;
    width: 160rem;
    height: 97rem;
    margin: 0 auto;
}

.whoami2-list {
    position: relative;
    display: block;
    margin-top: 18rem;
}

.whoami2-name {
    position: relative;
    display: block;
    font-size: 1.7rem;
    overflow: hidden;
    margin-bottom: 6rem;
}

.whoami2-name-tit {
    position: relative;
    display: block;
    width: 11.5rem;
    float: left;
    color: #af3522;
}

.whoami2-name-txt {
    position: relative;
    display: block;
    float: left;
    font-family: 'nexon', sans-serif;
}

.whoami-photo-2 {
    position: absolute;
    left: 0;
    top: 18.5rem;
    display: block;
    background: url('../images/porfile_3.png') no-repeat center;
    width: 60rem;
    height: 60rem;
    background-size: cover;
}

/* 적성 */

.possib {
    position: relative;
    display: block;
    width: 160rem;
    height: 97rem;
    background-color: #f9f9f9;
    margin: 0 auto;
}

.possib-tit {
    position: relative;
    display: block;
}

.possib-tit img {
    padding-top: 12rem;
}

.possib-list {
    position: relative;
    display: block;
    margin: 7rem 0;
}

.possib-list span {
    font-size: 2.2rem;
    font-weight: 600;
    color: #333
}

.possib-list p {
    font-size: 1.8rem;
    padding-top: 0.5rem;
}

.possib-list em {
    font-style: normal;
    color: #af3522;
    opacity: 0.7;
}

.graph {
    position: absolute;
    right: 0;
    top: 30%;
    display: block;
    width: 55rem;
    height: 55rem;
    background: url('../images/graph.png') no-repeat;
    background-size: cover;
}

.graph img {
    width: 55rem;
    height: 55rem;
}

/* 스킬 */

.skills {
    position: relative;
    display: block;
    width: 160rem;
    margin: 0 auto;
    padding: 4em 0;
}

.skills .container {
    padding: 12rem 0;
}

.skills-cont {}

.skills-cont p {
    padding-top: 6rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.skills-photo {
    position: absolute;
    right: 0;
    top: 9%;
    display: block;
    width: 75rem;
    height: 80rem;
    background: url('../images/porfile_1.png') no-repeat center;
    background-size: cover;
    z-index: -1;
}

#photoshop-level {
    width: 80rem;
    height: 2rem;
}

#illust-level {
    width: 80rem;
    height: 2rem;
}

#html-level {
    width: 80rem;
    height: 2rem;
}

#css-level {
    width: 80rem;
    height: 2rem;
}

#js-level {
    width: 80rem;
    height: 2rem;
}

#jQuery-level {
    width: 80rem;
    height: 2rem;
}

/* 퍼블리싱 */

.works {
    position: relative;
    display: block;
    width: 160rem;
    margin: 0 auto;
}

.work-box-1 {
    position: relative;
    display: block;
    width: 39rem;
    height: 63rem;
    margin-top: 10rem;
    background: url('../images/works-bg.png') no-repeat;
}

.publ-tit {
    position: absolute;
    left: 7rem;
    top: 10rem;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    z-index: 9;
}

.publ-tit-2 {
    position: absolute;
    left: 7rem;
    top: 15rem;
    display: block;
    font-size: 4rem;
    font-weight: 600;
    z-index: 9;
}

.sw-works {
    position: relative;
    display: block;
    width: 130rem;
    height: 100%;
}

.swiper-slide{    
    width: 130rem;
    background: url('../images/sw-works-bg.png') no-repeat;
}

.sw-works-control {
    position: absolute;
    right: 4.5rem;
    bottom: 30%;
    display: block;
    width: 8rem;
    height: 2rem;
    font-size: 2rem;
    z-index: 9;
}

.sw-works-prev {
    content: '';
    position: absolute;
    right: 9rem;
    bottom: 36%;
    transform: translateY(-50%);
    display: block;
    width: 0.8rem;
    height: 1.8rem;
    background: url('../images/works_prev.png') no-repeat;
    cursor: pointer;
}

.swiper-pagination-current {
    font-weight: 600;
}

.sw-works-next {
    content: '';
    position: absolute;
    right: -1.7rem;
    bottom: 36%;
    transform: translateY(-50%);
    display: block;
    width: 0.8rem;
    height: 1.8rem;
    background: url('../images/works_next.png') no-repeat;
    cursor: pointer;
}

.works-txt {
    display: block;
    padding-left: 7rem;
    padding-top: 22.5rem;
}

.works-txt>li {
    overflow: hidden;
    float: left;
}

.works-txt>li:first-child {
    font-weight: 600;
}

.works-txt>li>p {
    font-size: 1.5rem;
    margin-right: 3rem;
    margin-top: 6rem;
}

.work-img img {
    position: absolute;
    left: 35rem;
    top: 2rem;
    display: block;
    width: 78rem;
    height: 56rem;
}

.work-bt {
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    display: block;
}

.work-bt>li {
    display: block;
    margin-top: 3rem;
}

/* 리디자인 */

.work-box-2 {
    position: relative;
    display: block;
    width: 39rem;
    height: 63rem;
    background: url('../images/works-bg.png') no-repeat;
}

/* etc */

.etc {
    position: relative;
    display: block;
    width: 160rem;
    height: 110rem;
    margin: 0 auto;
    padding-top: 6rem;
}

.etc .container {
    padding: 5rem 0;
}

.etc-tit {
    position: relative;
    display: block;
}

.etc-tit img {}

.etc-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 4rem;
}

.etc-cont {
    position: relative;
    display: block;
    width: 37rem;
    margin-top: 9.5rem;
}

.etc-txt {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f9f9f9;
    font-size: 2rem;
    line-height: 4;
    opacity: 0;
    transition: all 0.2s;
}

.etc-txt:hover {
    opacity: 1;
}

/* life */

.life {
    position: relative;
    display: block;
    width: 160rem;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.life .container {
    padding: 8rem 0;
}

.life-tit {
    padding-bottom: 10rem;
}

.life-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.life-box img {
    width: 65rem;
    height: 41.5rem;
}

.life-txt {
    width: 65rem;
    height: 41.5rem;
    padding: 10rem;
}

.life-txt>p {
    font-size: 1.6rem;
}

/* 하단 */
.footer {
    position: relative;
    width: 160rem;
    height: 70rem;
    /* background: url('../images/contact-bg.png') no-repeat; */
    background-color: #f9f9f9;
    margin: 0 auto;
}

.qrcord {
    position: relative;
    display: block;
}

.qrcord img {
    position: absolute;
    left: 35rem;
    top: 29rem;
    display: block;
    width: 23rem;
    height: 23rem;
    background-size: cover;
}

.qr-txt {
    position: relative;
    display: block;
}

.qr-tit {
    position: absolute;
    left: 72rem;
    top: 23rem;
    font-size: 3rem;
    font-weight: 600;
}

.qr-txt p {
    position: absolute;
    left: 72rem;
    top: 30rem;
    font-size: 1.5rem;
    line-height: 4rem;
}

.qr-txt-2 {
    position: absolute;
    left: 72rem;
    top: 44rem;
    font-size: 1.5rem;
}

.qr-txt-2 b {
    font-size: 2rem;
}

.footer-box {
    position: absolute;
    left: 72rem;
    top: 50rem;
    display: block;
}

.footer-box li {
    display: block;
    float: left;
    padding-right: 3rem;
}